{%extends 'index.html'%}

{%block table %}
<table class="table table-sm">
    <thead>
        <tr>{{tablename}}</tr>
        <tr>
            {% for header in tableHeaders%}
            <td><a href="/candidatura/?orderBy={{header}}"><button type="button" class="btn btn-outline-success">{{header}}</button></a></td>
            {%endfor%}
        </tr>
    </thead>
    {% for row in tableData%}
    <tr>
        {% for data in row%}
        <td>{{data}}</td>
        {% endfor %}
        <td><button class="btn btn-sm btn-info btn-menu" type="button"><a href="\pleito\{{row[0]}}\">Pleito</a></button></td>
        <td><button class="btn btn-sm btn-danger btn-menu" type="button"><a href="\delete\{{tablename}}\{{row[0]}}\?key={{tableHeaders[0]}}">Excluir</a></button></td>
    </tr>
    {%endfor%}
</table>
{%endblock%}