{%extends 'index.html' %}
{%block table %}
<table class="table table-sm">
    <thead>
        <tr>Equipes de Apoio à candidatura</tr>
        <tr>
            {% for header in tableHeaders%}
            <td>{{header}}</td>
            {%endfor%}
        </tr>
    </thead>
    <tbody>

        {% for row in tableData%}
        <tr>
            {% for data in row%}
            <td>{{data}}</td>
            {% endfor %}
            <td><button type="button" class="btn btn-primary"><a href="\participante_equipe_apoio\{{row[0]}}">Ver equipe</a></button></td>
        </tr>
        {%endfor%}
    </tbody>
    
</table>
{%endblock%}