<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Eleitoral</title>
</head>
<body>
    <div style="background-color: greenyellow;"> 
        <a href="/candidatura">Candidaturas</a>
        <a href='/doacao_pj'>Doações de empresas</a>
        <a href='/individuo'>Individuos</a>
        <a href="/individuo_juridico">Empresas</a>
        <a href="/partido">Partidos</a>
        <a href="/processo_judicial">Processos Judiciais</a>
        <a href="/candidato">Candidatos</a>
        <a href="/localidade">Localidades</a>
        <a href="/cargo">Cargos</a>
        <a href="/doacao_pf">Doações de Indivíduos</a>
        <a href="/doacao_pj">Doações de Empresas</a>
        <a href="/participante_equipe_apoio">Equipes de apoio à candidatura</a>
        
    </div>

    {%block table%}{%endblock%}
</body>
</html>