{%extends 'index.html'%}

{%block table %}
<table class="table table-sm">
    <thead>
        <tr>{{tablename}}</tr>
        <tr>
            {% for header in tableHeaders%}
            <td>{{header}}</td>
            {%endfor%}
        </tr>
    </thead>
    {% for row in tableData%}
    <tr>
        {% for data in row%}
        <td>{{data}}</td>
        {% endfor %}
        <td><button class="btn btn-sm btn-danger btn-menu" type="button"><a href="\delete\{{tablename}}\{{row[0]}}\{{row[1]}}\?key1={{tableHeaders[0]}}&key2={{tableHeaders[1]}}">Excluir</a></button></td>
    </tr>
    {%endfor%}
</table>
{%endblock%}